<html>
   <head>
        <title>Pappy's Pizza</title>
        <script src="/js/pizza.js"></script>
        <link rel="stylesheet" type="text/css" href="css/pizza.css">
        <font color="yellow"><h1><p>Welcome to Pappy's Pizza
        </p><h1></font>
   </head>
   <body background="images/pizza7.jpg" align="middle">
            <div class="topnav">
                <a class="active" href='/'>Home</a>
                <a href='/pizza_page1'>Order</a>
                <a  href="/pizzy_about">About</a>
            </div>
        <form method="post" action="pizzyhome">
            
        


        </form>
    </body>
</html>    