<html>
    <head>
        <title>Pappy's Pizza</title>
        <script src="/js/pizza.js"></script>
        <link rel="stylesheet" type="text/css" href="css/pizza.css">
        <font color="yellow"><h1><p>Welcome to Pappy's Pizza
        </p><h1></font>
   </head>
   <body background="images/pizza7.jpg" align="middle">
        <center>
            <div class="topnav">
                <a  href='/'>Home</a>
                <a href='/pizza_page1'>Order</a>
                <a class="active" href="/pizzy_about">About</a>
            </div>
            <form method="post" action="pizzy_about">
            </form>    
            <div class="about">
            <h2>We are a very clean,organized,and respected business that handles your delicious pizza with care<h2>
            <h2>We thank you very much for choosing to buy our pizza, it's made with love and tender care<h2>
            <h2> We would have a contact page but we like to remain as anonymous as possible  =) <h2>
            </div>
            <div id="demojs">
            <script language="JavaScript">
                document.write("This page created by Demogorgon:" + document.lastModified);
            </script>
            </div> 
        </center>

    </body>
</html>            